<div class="both-cards row">
  <div class="col s12 m6">
    <div myHover class="card">
      <div class="card-content white-text">
        <span class="card-title">
          Contacts Home
        </span>
        <loading-spinner [loadCheck]="contact">
          <h4>Most recently added contact: {{contact?.name}}</h4>
        </loading-spinner>
      </div>
      <div class="card-action">
      <button class="waves-effect waves-light btn-large" type="button" (click)="gotoDetails(contact)">Details</button>
      </div>
    </div>
  </div>
  <div class="search-card">
    <contact-search></contact-search>
  </div>
</div>


