<div [hidden]="!confirmation">
	<h3>Add contact</h3>
	<form>
		<div>
			<label for="name">Name</label>
			<input type="text" id="name" required
			[(ngModel)]="newContact.name" name="name">
		</div>
		<div>
			<label for="age">Age</label>
			<input type="text" id="age" required
			[(ngModel)]="newContact.age" name="age">
		</div>
		<div>
			<label for="phone">Phone number</label>
			<input type="text" id="phone" required
			[(ngModel)]="newContact.phone" name="phone">
		</div>
		<button type="submit" (click)="confirm()">Submit</button>
		<button type="button" (click)="clear()">Clear</button>
	</form>
</div>
<div [hidden]="confirmation">
	<h3>You entered:</h3>
	<p *ngIf="newContact.name">{{newContact.name}}</p>
	<p *ngIf="newContact.age">{{newContact.age}}</p>
	<p *ngIf="newContact.phone">{{newContact.phone}}</p>
	<button type="submit">Submit</button>
	<button type="button" (click)="confirmation=true">Edit</button>
</div>