
<h2 class="center-align">Contact List</h2>
<div class="row">
  <div class="container center-align">
  <input #nameFilter myInput placeholder = "Filter by name" (keyup)="0">
  </div>
  <div class="list col s12 m6" *ngFor="let contact of contacts | alphabetical | filterable: nameFilter.value" (click)="selectContact(contact)">
    <div myHover class="names card-panel hoverable">
      <span class="white-text">{{contact.name}}</span>
    </div>
  </div>
</div>

<add-contact [contacts]="contacts"></add-contact>

